body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    transition: background-color 0.5s;
}

.navbar {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card {
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.btn {
    margin: 5px;
}

#contador {
    font-weight: bold;
    color: #dc3545;
    font-size: 2rem;
}